* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  :root {
    --background: #000000;
  --background-dark: #ffffff;
  --color: rgb(5, 5, 5);
  --background-footer: #1616163d;
  --gray-light: #5a5a66;
  --gray: #282831;
  --white: #fff;
  --yellow: rgb(252, 215, 8);
  --green: #26764a;
  --purple: rgb(81, 21, 192);
  --gold: #ffffff;
  }
  body {
    background: var(--background);
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    
    position: fixed;
    width: 100vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  a {
    text-decoration: none;
    color: var(--gray-light);
  }
  a:hover {
    color: #82869e;
  }
  main {
    width: 100vw;
    height: 95vh;
  }

 
  .dashboard-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .theme-checkbox {
    --toggle-size: 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    
    background: linear-gradient(to right, var(--gray) 50%, var(--gold) 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
  }
  

  .text-content {
    color: var(--background-dark);
  }
  p {
    text-align: left;
    width: 30vw;
    color: var(--background-dark);
  }
  button {
    cursor: pointer;
    background: var(--background-dark);
    color: black;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    transition: 0.2s ease;
    
  }
  button:hover {
    background: black;
    color: white;
    
   
    
  }
  .next {
    
    cursor: pointer;
    background: var(--gold);
    color: black;
    border: none;
    padding: 10px 20px;
    
    font-size: 17px;
    transition: 0.2s ease;
  }
  .next:hover {
    background: var(--white);
    color: var(--gray);
  }
  footer {
    height: 5vh;
    background: var(--background-footer);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
  }
  span {
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
  }
  span:hover {
    color: #454655;
  }
  @media screen and (min-width:370px) and (max-width:569px){
    main {
      width: 100vw;
      height: 110vh;
    }
    
    .container {
      margin-top: 20vh;
    }
    .dashboard-content {
      margin-top: 40px;
      margin-left: 20px;
      
    }
    p {
      width: 90vw;
    }
    iframe {
      height: 280px;
    }
    
    footer {
      height: 10vh;
    }
    }
  @media (min-width:570px) and (max-width:700px){
    .dashboard-content {
      margin-left: 20px
    }
    p {
      width: 90vw;
    }
    }
  @media (min-width:701px) and (max-width:900px){
    .dashboard-content {
        margin-left: 20px
      }
      p {
        width: 90vw;
      }
    }
  @media (min-width:901px) and (max-width:1200px){
    .container {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }
    }
  @media (min-width:1201px) and (max-width:1350px){
    .container {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }
    }