* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  :root {
    --background: #202123;
    --gray: #343541;
    --white: #fff;
  }
  body {
    background: var(--background);
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: var(--background);
  }
  nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  a {
    text-decoration: none;
    color: var(--white);
  }
  a:hover {
    color: #5b5e70;
  }
  main {
    width: 100vw;
  }
  .dashboard-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  h1 {
    color: var(--white);
  }
  p {
    text-align: left;
    width: 30vw;
    color: rgb(224, 224, 224);
  }
  button {
    cursor: pointer;
    background: var(--gray);
    color: var(--white);
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    transition: 0.2s ease;
    border-radius: 7px;
  }
  button:hover {
    background: var(--white);
    color: var(--gray);
    
  }
  .next {
    
    cursor: pointer;
    background: var(--gray);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    transition: 0.2s ease;
  }
  .next:hover {
    background: var(--white);
    color: var(--gray);
  }
  @media screen and (min-width:370px) and (max-width:569px){
    .dashboard-content {
      margin-left: 20px
    }
    p {
      width: 90vw;
    }
    iframe {
      height: 300px;
    }
    }
  @media (min-width:570px) and (max-width:700px){
    .dashboard-content {
      margin-left: 20px
    }
    p {
      width: 90vw;
    }
    }
  @media (min-width:701px) and (max-width:900px){
    .dashboard-content {
        margin-left: 20px
      }
      p {
        width: 90vw;
      }
    }
  @media (min-width:901px) and (max-width:1200px){
    .container {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }
    }
  @media (min-width:1201px) and (max-width:1350px){
    .container {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }
    }